/* ============================================================================================================================= */
/* 메인화면1 */


    .content_wrap{
    height: 2000px !important;
    }

    #sjgaNavi{
        width: 100%;
        position: relative;
        border: 1px solid red;
    }
/* KakaoMap CSS */
#map{
    margin-top: 10px;
    width:950px; 
    height:600px; 
    border:1px solid black;
    box-sizing: border-box;
  }

  #intro6_wrap p{
    width: 100%;
	height: 30px;
	margin-left: 10px;
	font-family: 'Noto Sans KR', sans-serif;
  }

  #intro6_wrap p:nth-child(2){
    margin-bottom: 20px;
  }

  .middle6 #intro6_wrap{
	margin-top: 20px;
	width: 950px;
	padding: 10px 0px 10px 0px;
	background: #f7f7f7;
	border-top: 1px solid rgba(191, 191, 191, 0.4);
	border-bottom: 1px solid rgba(191, 191, 191, 0.4);
	box-sizing: border-box;
	overflow: hidden;
  }


