*{
    margin:0;
    padding: 0;
  }
  /* 바디 최소 사이즈 1000px 고정 */
  @media screen and (max-width:1399px){
    body{
     width: 1400px;
    }
  }

  a{
    color: black;
    text-decoration: none;
  }

  button{
    border: none;
  }

  button:hover{
    cursor: pointer;
  }

  li{
    list-style: none;
  }

  .top{
    position: relative;
    box-shadow: 0.5px 0.5px 0.5px black;
  }
  .top .logo_wrap{
    width: 100%;
    height: 140px;
    position: relative;
  }
  .top .logo_wrap img{
    position: absolute;
    display: block;
    left: calc(50% - 180px);
    margin-top: 20px;
  }

  .top .register_text_wrap{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid rgb(0,0,0,0.1);
    /* border-bottom: 1px solid rgb(0,0,0,0.1); */
    box-sizing: border-box;
    box-shadow: 0 2px 2px -3px black;
  }

  .top .register_text_wrap .r_text{
    width: 100px;
    padding: 15px 10px 15px 10px;
    display: block;
    margin: 0 auto;
    font-weight: 900;
    font-size: 1.4em;
    text-align: center;
  }


  .content_wrap{
    background-color: rgb(246, 246, 246);
    width: 100%;
    overflow: hidden;
  }

  .content{
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
   
  }

  .content .input_wrap{
    width: 600px;
    overflow: hidden;
    background-color: white;
    
  }

  .content .input_wrap .input_text{
    width: 100%;
    overflow: hidden;
    background-color: rgb(209, 209, 209);
    margin-bottom: 30px;
  }


  .content .input_wrap .input_text .i_text{
    display: block;
    width: 70px;
    font-weight: 600;
    padding: 15px 5px 15px 5px;
    margin: 0 auto;
  }

  .content .button_wrap{
    width: 380px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
  }

  .content .button_wrap a button{
   display: block;
   float: left;
   width: 180px;
   height: 50px;
   border-radius: 5px;
   font-weight: 600;
  } 

  .content .button_wrap a:nth-child(1) button:nth-child(1){
   background-color: black;
   color: white;
   margin-right: 20px;
  } 

  .content .button_wrap a:nth-child(2) button:nth-child(1){
   background-color: white;
  } 

  .content .copyright_wrap{
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
    color: gray;
  }

  .content .copyright_wrap span{
   display: block;
   width: 80%;
   margin: 0 auto;
   text-align: center;
  }

  .content .input_wrap ul{
    width: 540px;
    margin: 0 auto;
  }

  .content .input_wrap ul li{
    width: 540px;
    height: 60px;
    margin: 0 auto;
    
  }


  .content .input_wrap ul li label{
    display: block;
    width: 110px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    
    float: left;
    margin-top: 10px;
  }
  .content .input_wrap ul li input{
    display: block;
    width: 360px;
    height: 40px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    float: right;
  }

  .content .input_wrap ul li:nth-child(6) input{
    position: relative;
    top: -6px;
    right: 300px;
    width: 20px;
    height: 20px;
    margin-top: 16px;
  }
  
  
  .content .input_wrap ul li:nth-child(6) input:nth-child(2){
    right: 280px;
  }

  .gender_span_male{
    position:relative;
    top: 9px;
    left: 70px;
    width: 20px;
    height: 20px;
    
  }

  
  .gender_span_female{
    position:relative;
    top: 9px;
    left: 90px;
    width: 20px;
    height: 20px;
  }

  #captcha{
    float: right;
    margin-right: 55px;
  }

  .content .input_wrap ul li:nth-child(8) label{
    margin-top: 30px;
  }
  
  .content .input_wrap ul li:nth-child(9) label{
    margin-top: 30px;
  }